@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap');
*{
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}
:root{
  --primary: #191970;
  --secondary: #173CC2;
  --terciary: #C71585;
  --cool_gray: #708090;
  --border: 0.1rem solid black; /*box-sizing: border-box;*/
}
@font-face {
  font-family: 'Minecraft';
  src: url('../FONTS/Minecraft.ttf') format('truetype');
}
@font-face {
  font-family: 'Neon Club';
  src: url('../FONTS/NEON CLUB MUSIC/NEON CLUB MUSIC.otf') format('truetype');
}
#scroll_area{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(1rem,1fr));
}
#container-menu{
  width: 100%;
  border: 0.1rem solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
  font-family: Neon Club;
  font-size: 1.8rem;
  background-color: #003F5D;
  padding: 1.5rem 3rem 1.5rem 3rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}
#container-menu #logo a{
  color: white;
  margin-right: 0.5rem;
  font-size: 2.2rem;
  margin-top: auto;
  margin-bottom: auto;
}
#main-menu{
  color: #F5FFFA;
  display: grid;
  grid-template-columns: 5fr 5fr;
}
#menu-selector{
  display: grid;
  grid-template-columns: 8fr 2fr;
  font-size: 2rem;
}
#menu-box, #icons{
  font-size: 1rem;
  font-family: Poppins;
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(1rem,1fr));
}
#menu-box a{
  margin-left: minmax(0.5rem, 1rem);
  margin-right: minmax(0.5rem, 1rem);
  padding-left: minmax(0.2rem, 0.5);
  padding-right: minmax(0.2rem, 0.5);
}
#menu-selector a, #menu-selector div, #additional a{
  text-decoration: none;
  color: #B0C4DE;
  text-align: center;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  transition: .2s linear;
}
#menu-selector div div{
  display: inline;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
#m_link:hover, #menu-selector #icons div:hover, #additional a:hover{
  color: white;
  border-radius: 0.3rem;
  background-color: rgba(0, 0, 0, 0.2);
}
#menu-selector div div a:hover{
  color: white;
}
#menu_btn, #cancel, #cancel_btn, #greet, #additional, #bar, #bar2, #signinup, #icone, #cart_btn{
  display: none;
}
#only-mobile{
  display: none;
}
#container-body{
  border: var(--border);
  box-sizing: border-box;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
#novidades{
  z-index: 0;
}
#novidades h1, #destaques h1{
  font-family: Poppins;
  margin-bottom: .5rem;
  font-style: italic;
}
#destaques{
  z-index: 0;
  margin-top: 1rem;
}
#nov_slider, #dest_slider{
  display: flex;
  box-sizing: border-box;
  border-top: .1rem solid gray;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#item_novidades, #item_destaques{
  width: 100%;
  text-align: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.5rem;
}
#item_novidades_imagem{
  width: 10rem;
  border-radius: 1rem;
}
#item_novidades_imagem:hover{
  transform: scale(1.05);
  transition: all .2s ease-in-out;
}
#item_novidades_nome{
  font-family: Poppins;
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}
#item_novidades_preço, #item_destaques_preço{
  color: #4F4F4F;
}
#item_destaques_imagem{
  width: 20.5rem;
  border-radius: 1rem;
}
#item_destaques_nome{
  font-family: Poppins;
  max-width: 20.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}
#item_destaques_imagem:hover{
  transform: scale(1.025);
  transition: all .2s ease-in-out;
}
#lista{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(50%,1fr));
  padding: 0.5rem 0.5rem 0.5rem 0;
}
#list_item{
  box-sizing: border-box;
  border-bottom: .3rem solid #003F5D;
  border-radius: 0 0 .2rem .2rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: monospace;
  color: black;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
#list_item i{
  border-radius: 100%;
  padding: 0.5rem;
  margin-right: 0.2rem;
}
#list_item:hover{
  background-color: #F5F5F5;
  transition: all .2s linear;
}
#oferta{
  height: 30rem;
}
#item_oferta1 img{
  width: 100%;
  object-fit: cover;
}
#oferta_description{
  background-image: linear-gradient(to bottom ,rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  width: 100%;
  height: 30rem;
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}
.next{
  /*color: #A9A9A9;*/
  color: red;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
#oferta_invisible p{
  padding: 1rem;
  color: white;
  font-size: 100%;
  word-wrap: break-word;
}
#oferta_invisible{
  width: 33.3%;
  position: absolute;
  bottom: 0;
}
footer{
  width: 100%;
}
#f_top{
  text-align: center;
  box-sizing: border-box;
  background-color: #242C3C;
  padding-bottom: 1rem;
}
.back{
  display: block;
  color: white;
  background-color: #34445B;
  font-size: 2rem;
  padding-top: .5rem;
}
.back:hover{
  background-color: #525e6a;
}
#f_bottom{
  box-sizing: border-box;
  text-align: center;
  background-color: #141C24;
  color: white;
  padding-top: 2rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
#f_bottom p:not(:last-child){
  margin-bottom: 2rem;
  font-family: 'Bubbler One';
}
.logo{
  font-size: 1.2rem;
  color: white;
  font-family: Neon Club;
  margin-top: 1.5rem;
  display: block;
}
#social_medias{
  padding: 0;
  text-align: center;
}
#social_medias img{
  width: 2rem;
}
#social_medias li{
  text-transform: lowercase;
  list-style: none;
  margin-left: 0;
}
#dark_theme{
  position: absolute;
  right: 2rem;
  background-color: black;
  padding: .3rem;
  border-radius: 2rem;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}
.fa-sun{
  color: white;
  font-size: 1.2rem;
  margin-left: .3rem;
}
.fa-moon{
  color: white;
  font-size: 1.2rem;
}
.ball{
  background-color: white;
  position: absolute;
  right: 1.9rem;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  border-radius: 100%;
  margin-top: -1px;
  transition: transform .1s linear;
}
#dark_theme_check:checked ~ #dark_theme .ball{
  transform: translateX(1.7rem);
}
body.dark{
  background-color: #292C35;
}
a.light{
  color: white;
}
#profile_menu{
  display: none;
  margin-top: 2.5rem;
  width: 50%;
  margin-left: 2rem;
}
#profile_menu a{
  color: black;
}
#profile_pic{
  width: 4rem;
  float: left;
}
#profile_picture{
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}
#prof_text{
  float: left;
  margin-left: .2rem;
  margin-top: .5rem;
}
#prof_text p{
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Poppins;
  font-style: italic;
}
#prof_desc{
  border: .1rem solid black;
  margin-top: 4rem;
}
#logout_btn{
  float: left;
  margin-top: 3rem;
  margin-left: .5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 1000px){
  #menu_btn{
    display: inline-block;
    color: #B0C4DE;
    margin-top: auto;
    margin-bottom: auto;
  }
  #menu_btn label{
    cursor: pointer;
  }
  #menu_btn:hover{
    color: white;
    transition: .2s linear;
  }
  #logo{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.8rem;
  }
  #main-menu{
    display: grid;
    grid-template-columns: 1fr 8fr 6fr;
  }
  #menu-selector{
    display: inline;
  }
  #icons{
    margin-right: 0px;
    font-size: 1.2rem;
  }
  #menu-box{
    font-size: 1.2rem;
    display: block;
    width: 350px;
    position: fixed;
    top: 0;
    left: -360px;
    height: 100%;
    background-color: #003F5D;
    box-shadow: 1px 0.5rem 5px white;
    transition: all .2 ease;
    z-index: 2;
  }
  #menu-box a{
    display: block;
    text-align: left;
    margin-left: 1.8rem;
  }
  #menu-box a:hover{
    background-color: #003F5D;
  }
  #cancel_btn{
    display: inline-block;
    font-size: 2rem;
    position: relative;
    left: 9.4rem;
    top: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    color: #B0C4DE;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all .2 smooth;
  }
  #cancel_btn:hover{
    color: white;
    transition: all .2s linear;
  }
  #greet{
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  #hi{
    font-size: 1.5rem;
    font-weight: bold;
  }
  #additional{
    display: block;
    text-align: left;
  }
  #bar{
    display: block;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    height: 0.1rem;
    width: 83%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  #bar2{
    display: block;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    height: 0.05rem;
    width: 83%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  #signinup{
    display: block;
  }
  #signinup #b1{
    background-color: white;
    color: #003F5D;
    padding: 0.5rem;
    font-size: 1.2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 1rem;
    border-radius: 0.2rem;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    border: 0.1rem solid white;
  }
  #signinup #b2{
    padding: 0.5rem;
    font-size: 1.2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 1rem;
    border-radius: 0.2rem;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    border: 0.1rem solid white;
    color: white;
    background-color: #003F5D;
  }
  #signinup #b1:hover{
    background-color: #003F5D;
    color: white;
    transition: all .2s linear;
  }
  #signinup #b2:hover{
    background-color: white;
    color: #003F5D;
    transition: all .2s linear;
  }
  #icone{
    display: inline;
  }
  #scroll_area{
    display: block;
    overflow-y: scroll;
    width: 95%;
    height: 20rem;
  }
  #scroll_area::-webkit-scrollbar{
    width: 0.3rem;
  }
  #scroll_area::-webkit-scrollbar-track{
    background-color: #B0C4DE;
  }
  #scroll_area::-webkit-scrollbar-thumb{
    background-color: #4682B4;
    border-radius: 1rem;
  }
}
@media only screen and (max-width: 870px){
  #item_oferta1, #item_oferta2, #item_oferta3{
    height: 25rem;
  }
  #item_oferta1 img{
    height: 100%;
    object-fit: fill;
  }
  #oferta{
    height: inherit;
  }
  #oferta_invisible{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
}
@media only screen and (max-width: 734px){
  #icons{
    display: none;
  }
  #main-menu{
    grid-template-columns: 1fr 13fr 1fr;
  }
  #container-menu{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #logo{
    text-align: center;
  }
  #list_item{
    font-size: 1rem;
  }
  #item_oferta1, #item_oferta2, #item_oferta3{
    height: 20rem;
  }
  #oferta_invisible{
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 580px){
  #item_oferta1, #item_oferta2, #item_oferta3{
    height: 15rem;
  }
  #oferta_invisible{
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 460px){
  body{
    padding-bottom: 3rem;
  }
  #container-menu{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    background-color: white;
    box-shadow: 0 0 0 white;
  }
  #container-body{
    padding-right: 0;
    padding-left: 1rem;
  }
  #logo{
    display: none;
  }
  #container-menu #logo a{
    font-size: 1.6rem;
  }
  #menu_btn{
    font-size: 1.5rem;
    margin-left: 0.5rem;
    margin-top: -0.5rem;
    color: #003F5D;
  }
  #menu_btn:hover{
    color: #4682B4;
  }
  #cart_btn:hover{
    color: #4682B4;
    transition: all .2s linear;
  }
  #menu-box{
    width: 270px;
    font-size: .9rem;
    z-index: 2;
  }
  #greet, #hi{
    font-size: 1.2rem;
  }
  #cancel_btn{
    left: 7.1rem;
    font-size: 1.5rem;
  }
  #scroll_area{
    height: 18rem;
  }
  #cart_btn{
    display: block;
    margin-top: -0.3rem;
    position: absolute;
    right: 1rem;
    font-size: 1.5rem;
    color: #003F5D;
  }
  #only-mobile{
    background-color: white;
    display: block;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 1.2rem;
    box-shadow: 0 -0.1rem rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(2rem,1fr));
    z-index: 1;
  }
  #only-mobile a{
    color: #003F5D;
    border-radius: 5rem;
    padding: 0.5rem;
    text-align: center;
    width: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  #only-mobile a:hover{
    background-color: rgba(0, 0, 0, 0.2);
    transition: all .3s linear;
  }
  #item_novidades_imagem{
    width: 8rem;
    border-radius: 1rem;
  }
  #item_novidades_nome{
    font-size: 0.9rem;
    max-width: 8rem;
  }
  #item_destaques_imagem{
    width: 16.5rem;
    border-radius: 1rem;
  }
  #item_destaques_nome{
    font-size: 0.9rem;
    max-width: 16.5rem;
  }
  #lista{
    grid-template-columns: 1fr;
    margin-right: 1rem;
  }
  #list_item{
    box-sizing: border-box;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0 0 .2rem .2rem;
    margin-bottom: 0;
  }
  #oferta_description span{
    display: none;
  }
  #oferta_invisible p{
    display: block;
  }
  #oferta_invisible{
    font-size: 0.8rem;
  }
  #f_bottom p:not(:last-child){
    font-size: 0.8rem;
  }
  #f_bottom{
    padding-right: 1rem;
    padding-left: 1rem;
  }
  #social_medias li{
    font-size: 0.8rem;
  }
  #dark_theme{
    right: 1rem;
  }
  #profile_menu{
    margin-top: 0;
    width: 100%;
    margin-left: 1rem;
  }
  #profile_pic{
    width: 3rem;
  }
  #profile_picture{
    width: 3rem;
    height: 3rem;
  }
  #prof_text{
    margin-top: 0.1rem;
  }
  #prof_text p{
    font-size: 1.3rem;
  }
  #logout_btn{
    margin-top: 2.5rem;
  }
}
@media only screen and (max-width: 320px){
  #container-menu #logo a{
    font-size: 1.3rem;
    margin-left: 0.5rem;
  }
  #signinup input[type="button"]{
    font-size: 0.8rem;
  }
  #menu_btn, #cart_btn{
    font-size: 1.3rem;
  }
  #item_novidades_imagem{
    width: 6rem;
    border-radius: 1rem;
  }
  #item_novidades_nome{
    font-size: 0.8rem;
    max-width: 6rem;
  }
  #item_destaques_imagem{
    width: 12.5rem;
    border-radius: 1rem;
  }
  #item_destaques_nome{
    font-size: 0.8rem;
    max-width: 12.5rem;
  }
  #social_medias li{
    word-wrap: break-word;
  }
  #novidades h1, #destaques h1{
    font-size: 1rem;
  }
}
